---
layout: default
title: Yahoo! 360° - Rachel's Profile
description: Rachel's personal website on Yahoo! 360
image: assets/cover.jpg
left_widget: guestbook.html
---
<div class="doc-layout-5">
	<span class="beacon"></span>

	<div class="container-1 publish intro " id="ymgl-blog-preview">
		<span class="shadow"></span>
		<div class="thm-box">
			<span class="ct"><span class="cl"></span></span>

			<div class="head">
				<h3>Blog</h3>
				<span class="datestamp">{{ site.posts.first.date | date: "%a %b %d, %y - %I:%M%P (%Z)" }}</span>
			</div>

			<div class="body">
			{% for post in site.posts limit:5 %}
			{% if forloop.first %}
				<h4>{{ post.title }}</h4>
				{% if post.image %}
				<a href="{{ post.url | relative_url }}"><img src="{{ post.image | relative_url }}" alt="{{ post.title }}" width="85" border="0"></a>
				{% endif %}
				<p class="snippet">{{ post.content | strip_html | truncatewords: 35 }} <a href="{{ post.url | relative_url }}">more</a></p>
			{% endif %}
			{% endfor %}
				<p class="footnote"><a href="{{ "blog/" | relative_url }}">View Blog »</a></p>
			</div>
			<span class="cb"><span class="cl"></span></span>
		</div>
	</div>
	<div class="container-1 publish intro " id="ymgl-list-preview">
		<span class="shadow"></span>
		<div class="thm-box">
			<span class="ct"><span class="cl"></span></span>

			<div class="head">
				<h3>Lists</h3> <span></span>

			</div>

			<div class="body">

				<h4>Movies I like that I recommend.</h4>

				<ul class="default">
					<li><a href="javascript:;"
						title="Find people who likePirates of the Caribean.&#013;Hướng nghiệp.&#013;Mr Deeds.&#013;Cổ điển (The classics)&#013;Anacondas&#013;...">Pirates of the Caribean. Hướng nghiệp. Mr Deeds. Cổ điển (The classics). Anacondas...</a></li>
				</ul>

				<h6>Other Lists:</h6>
				<ul class="previous">
					<li><a href="{{ 'lists.html' | relative_url }}">Music I like</a></li>

					<li><a href="{{ 'lists.html' | relative_url }}">Books I like</a></li>

					<li><a href="{{ 'lists.html' | relative_url }}">Interests</a></li>
				</ul>

				<p class="footnote"><a href="{{ 'lists.html' | relative_url }}">View Lists »</a></p>
			</div>
			<span class="cb"><span class="cl"></span></span>
		</div>
	</div>
	<div class="container-1 publish default " id="ymgl-profile-detail">
		<span class="shadow"></span>
		<div class="thm-box">
			<span class="ct"><span class="cl"></span></span>

			<div class="head">
				<h3>Profile Information</h3>
				<span></span>

			</div>

			<dl>
				<dt>About Me:</dt>
				<dd>No direction, no dream, no worry.</dd>

				<dt>Languages Spoken:</dt>
				<dd><a href="javascript:;">English</a>, <a href="javascript:;" title="Find people who speak Chinese - Mandarin">Chinese - Mandarin</a>, <a href="javascript:;" title="Find people who speak Vietnamese">Vietnamese</a></dd>

				<dd class="quote">"Think you can, think you can't. Either way, you win."</dd>

			</dl>
			<span class="cb"><span class="cl"></span></span>
		</div>
	</div>
</div>

<div class="doc-layout-4">

	<div class="container-0 publish intro" id="ymgl-photos">
		<span class="shadow"></span>
		<div class="thm-box">
			<span class="ct"><span class="cl"></span></span>

			<div class="head">
				<h3>Photos</h3>
				<span class="datestamp">Oct 21, 2007</span>
			</div>

			<div class="body">

				<div class="flickr medium clearfix last">
					<a href="https://web.archive.org/web/20090413012733/http://www.flickr.com/photos/75071908@N00/1668310435/" title="Tui trắng nhất nhé, khỏi giành giựt :D" target="_blank"><img src="{{ 'assets/1668310435_2f14eb26bd_s.jpg' | relative_url }}" alt="Tui trắng nhất nhé, khỏi giành giựt :D" width="75" height="75" border="0"></a>
					<a href="https://web.archive.org/web/20090413012733/http://www.flickr.com/photos/75071908@N00/1669163934/" title="2 bạn mới rất thân" target="_blank"><img src="{{ 'assets/1669163934_e3954ee6c8_s.jpg' | relative_url }}" alt="2 bạn mới rất thân" width="75" height="75" border="0"></a>
					<a href="https://web.archive.org/web/20090413012733/http://www.flickr.com/photos/75071908@N00/1669162150/" title="Cùng 1 hành lang" target="_blank"><img src="{{ 'assets/1669162150_dcff79d394_s.jpg' | relative_url }}" alt="Cùng 1 hành lang" width="75" height="75" border="0"></a>
					<a href="https://web.archive.org/web/20090413012733/http://www.flickr.com/photos/75071908@N00/1668305117/" title="B*day party đen vàng" target="_blank"><img src="{{ 'assets/1668305117_96aa089891_s.jpg' | relative_url }}" alt="B*day party đen vàng" width="75" height="75" border="0"></a>
					<p class="footnote"><a href="http://www.flickr.com/photos/75071908@N00/" target="_new">Photostream »</a></p>

				</div>

			</div>
			<span class="cb"><span class="cl"></span></span>
		</div>
	</div>
	<div class="container-0 publish intro " id="ymgl-friends">
		<span class="shadow"></span>
		<div class="thm-box" id="friends-container">
			<span class="ct"><span class="cl"></span></span>
			<div class="head">
				<h3>Friends</h3><span></span> <span class="friends-count">(<a href="{{ 'friends.html' | relative_url }}">See all 165</a>)</span>
			</div>
			<div class="body" id="friends-container">

				<ul class="column-1">

					<li class="card-wrapper " id="friend_0">
						<div class="user-card ">

							<div class="user-photo ">
								<a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-6OiYk7klc6e8qDpYIEhb3YY-?cq=1" title=""><img src="{{ 'assets/anonymous.png' | relative_url }}" data-identicon="eb19" class="" alt="Sansan" width="64" height="48" border=""></a>
							</div>

							<ul class="vitals">

								<li class="user-name"><a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-6OiYk7klc6e8qDpYIEhb3YY-?cq=1" title="Sansan">Sansan</a></li>

								<li class="opi"><img src="{{ 'assets/offline_12px_1.gif' | relative_url }}" width="12" height="12" border="0"> Offline </li>

							</ul>

						</div>
					</li>

					<li class="card-wrapper " id="friend_2">
						<div class="user-card ">

							<div class="user-photo ">
								<a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-0NwosvU_c7PENf4Tjf0k1Ek-?cq=1" title=""><img src="{{ 'assets/anonymous.png' | relative_url }}" data-identicon="28fb" class="" alt="Nhu Khang" width="64" height="46" border=""></a>
							</div>

							<ul class="vitals">

								<li class="user-name"><a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-0NwosvU_c7PENf4Tjf0k1Ek-?cq=1" title="Nhu Khang">Nhu K…</a></li>

								<li class="opi"><img src="{{ 'assets/offline_12px_1.gif' | relative_url }}" width="12" height="12" border="0"> Offline </li>

							</ul>

						</div>
					</li>

					<li class="card-wrapper " id="friend_4">
						<div class="user-card ">

							<div class="user-photo ">
								<a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-X3KGLV8zd7N3V22H5m54e.fsEXk-?cq=1" title=""><img src="{{ 'assets/anonymous.png' | relative_url }}" data-identicon="31de" class="" alt="Đình Duy" width="64" height="48" border=""></a>
							</div>

							<ul class="vitals">

								<li class="user-name"><a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-X3KGLV8zd7N3V22H5m54e.fsEXk-?cq=1" title="Đình Duy">Đình …</a></li>

								<li class="opi"><img src="{{ 'assets/offline_12px_1.gif' | relative_url }}" width="12" height="12" border="0"> Offline </li>

							</ul>

						</div>
					</li>

					<li class="card-wrapper " id="friend_6">
						<div class="user-card ">

							<div class="user-photo ">
								<a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-KlYuT_o3fqNJLvI_Zo5F" title=""><img src="{{ 'assets/anonymous.png' | relative_url }}" data-identicon="2400" class="" alt="feet_ww" width="64" height="46" border=""></a>
							</div>

							<ul class="vitals">

								<li class="user-name"><a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-KlYuT_o3fqNJLvI_Zo5F" title="feet_ww">feet_ww</a></li>

								<li class="opi"><img src="{{ 'assets/offline_12px_1.gif' | relative_url }}" width="12" height="12" border="0"> Offline </li>

							</ul>

						</div>
					</li>

					<li class="card-wrapper " id="friend_8">
						<div class="user-card ">

							<div class="user-photo ">
								<a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-9n3gmp8heqqEku0Emz16q8tM" title=""><img src="{{ 'assets/anonymous.png' | relative_url }}" data-identicon="28dc" class="" alt="~ MạnhCương ~" width="64" height="44" border=""></a>
							</div>

							<ul class="vitals">

								<li class="user-name"><a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-9n3gmp8heqqEku0Emz16q8tM" title="~ MạnhCương ~">~ Mạn…</a></li>

								<li class="opi"><img src="{{ 'assets/offline_12px_1.gif' | relative_url }}" width="12" height="12" border="0"> Offline </li>

							</ul>

						</div>
					</li>

				</ul>
				<ul class="column-2">

					<li class="card-wrapper " id="friend_1">
						<div class="user-card ">

							<div class="user-photo ">
								<a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-N.SMrtoydLW2WuF3TxgZKrqx" title=""><img src="{{ 'assets/anonymous.png' | relative_url }}" data-identicon="f6f7" class="" alt="**⌠§ZHU_ZHU§⌡**" width="64" height="76" border=""></a>
							</div>

							<ul class="vitals">

								<li class="user-name"><a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-N.SMrtoydLW2WuF3TxgZKrqx" title="**⌠§ZHU_ZHU§⌡**">**⌠§Z…</a></li>

								<li class="opi"><img src="{{ 'assets/offline_12px_1.gif' | relative_url }}" width="12" height="12" border="0"> Offline </li>

							</ul>

						</div>
					</li>

					<li class="card-wrapper " id="friend_3">
						<div class="user-card ">

							<div class="user-photo ">
								<a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-EeFJrU0zcqEUTZMV_gPIZFAVzsw-?cq=1" title=""><img src="{{ 'assets/anonymous.png' | relative_url }}" data-identicon="59fa" class="" alt="blackcat" width="64" height="85" border=""></a>
							</div>

							<ul class="vitals">

								<li class="user-name"><a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-EeFJrU0zcqEUTZMV_gPIZFAVzsw-?cq=1" title="blackcat">black…</a></li>

								<li class="opi"><img src="{{ 'assets/offline_12px_1.gif' | relative_url }}" width="12" height="12" border="0"> Offline </li>

							</ul>

						</div>
					</li>

					<li class="card-wrapper " id="friend_5">
						<div class="user-card ">

							<div class="user-photo ">
								<a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-y52nvYwlc6ezq0akXCiwvX8-?cq=1" title=""><img src="{{ 'assets/anonymous.png' | relative_url }}" data-identicon="26cd" class="" alt="Phuong Thao M" width="64" height="57" border=""></a>
							</div>

							<ul class="vitals">

								<li class="user-name"><a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-y52nvYwlc6ezq0akXCiwvX8-?cq=1" title="Phuong Thao M">Phuon…</a></li>

								<li class="opi"><img src="{{ 'assets/offline_12px_1.gif' | relative_url }}" width="12" height="12" border="0"> Offline </li>

							</ul>

						</div>
					</li>

					<li class="card-wrapper " id="friend_7">
						<div class="user-card ">

							<div class="user-photo ">
								<a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-_pCtsV0zdKtEdp_lVDf6" title=""><img src="{{ 'assets/anonymous.png' | relative_url }}" data-identicon="fb24" class="" alt="bom" width="64" height="48" border=""></a>
							</div>

							<ul class="vitals">

								<li class="user-name"><a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-_pCtsV0zdKtEdp_lVDf6" title="bom">bom</a></li>

								<li class="opi"><img src="{{ 'assets/offline_12px_1.gif' | relative_url }}" width="12" height="12" border="0"> Offline </li>

							</ul>

						</div>
					</li>

					<li class="card-wrapper " id="friend_9">
						<div class="user-card ">

							<div class="user-photo ">
								<a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-3fuzWoYic69n.HsQtbFiyMlGiWYY" title=""><img src="{{ 'assets/anonymous.png' | relative_url }}" data-identicon="9b7b" class="" alt="XIUXIU" width="64" height="48" border=""></a>
							</div>

							<ul class="vitals">

								<li class="user-name"><a href="https://web.archive.org/web/20090413012733/http://360.yahoo.com/profile-3fuzWoYic69n.HsQtbFiyMlGiWYY" title="XIUXIU">XIUXIU</a></li>

								<li class="opi"><img src="{{ 'assets/offline_12px_1.gif' | relative_url }}" width="12" height="12" border="0"> Offline </li>

							</ul>

						</div>
					</li>

				</ul>
			</div>
			<div class="foot">

				<span class="footnote">(<a href="{{ 'friends.html' | relative_url }}">See all 165 friends</a>)</span>
			</div>
			<span class="cb"><span class="cl"></span></span>
		</div>
	</div>

</div>
