---
layout: default
title: Yahoo! 360° - Rachel's Blog
left_widget: calendar.html
---

{% include paginator.html position='top' %}
<div id="ymgl-blog" class="container-0 publish">
    <span class="shadow"></span>
    <div class="thm-box">
        <span class="ct"><span class="cl"></span></span>

        <div class="head">
            <h3>Rachel's Blog <span class="view-toggle"><a href="javascript:;">Full Post View</a> | List View</span></h3>
            <p class="footnote"></p>
        </div>

        <dl class="body">
		{% for post in paginator.posts %}
            <dt class="post-head"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></dt>
            <dd class="post-body ">
                <div class="image-wrapper">
					<!-- The top post image should be here, but now they are embeded in posts and it's ok -->
                </div>
                <div class="content-wrapper">
                	{{ post.content | strip_html | truncatewords: 50 }}
                </div>
                <div class="foot">
                    <span><span style="display:inline" id="tag-container-62"><a href="" rel="nofollow tag"></a></span></span>
                    <form>
                        <input type="hidden" name="tagslist" value="" id="tag-list-62">
                    </form>
                    <div class="alert" style="display:none" id="tag-error-62"></div>

                    <span>
                    	{{ post.date | date: "%A %B %-d, %Y - %I:%M%P (%Z)" }}
                    	{% assign comments = site.data.comments[post.url] %}
                    	<a href="{{ post.url | relative_url }}">Permanent Link</a> | <a href="{{ post.url | relative_url }}#comments">{{comments.size }} {% if comments.size == 1 %}Comment{% else %}Comments{% endif %}</a></span>
                </div>
            </dd>
		{% endfor %}
        </dl>

        <div class="add-rss clearfix">
            <p class="footnote">Add Rachel's Blog to your personalized My Yahoo! page:</p>
            <a href="javascript:;"><img src="{{'/assets/addtomyyahoo4.gif' | relative_url}}" alt="Add to My Yahoo!" height="17" width="91" border="0"></a>
            <a href="{{ '/feed.xml' | relative_url }}"><img src="{{'/assets/rss.gif' | relative_url}}" alt="RSS" height="17" width="36" border="0"></a> <a href="{{ '/404.html' | relative_url }}">About My Yahoo! &amp; RSS</a>
        </div>

        <span class="cb"><span class="cl"></span></span>
    </div>
</div>
{% include paginator.html position='bottom' %}


